SII_ENV=certificacion
RUT_EMISOR=77.499.554-4
RAZON_SOCIAL=WAST3D SPA
GIRO_EMISOR=SERVICIOS DE IMPRESION Y PUBLICIDAD
ACTECO=329900
DIR_EMISOR=VILLAGRA 70
CMNA_EMISOR=Providencia
CIUDAD_EMISOR=Santiago
RESOLUCION_FECHA=2014-10-21
RESOLUCION_NUMERO=99
CERT_PFX_PASSWORD=
CERT_PFX_BASE64=PEGAR_BASE64_DEL_PFX_AQUI
PORT=3000
